@{ ViewData["Title"] = "Home Page"; }


<blockquote>
    <h3>Home</h3>
    <p>This project is a part of an applying process and can be used as a reference project.</p>
</blockquote>
<hr />
<blockquote>
    <h3>This project was made using these technologies:</h3>
    <ul>
        <li>C#</li>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework</li>
    </ul>
    <p>
        Created by: Guilherme André Rebello<br />
        Last updated: August 10, 2021
    </p>
</blockquote>